*{
    padding: 0;
    margin: 10px;
    box-sizing: border-box;
}


.top {
    background-color: #115000;
    display: flex;
}

#nome {
    width: 30px;
    height: 30px;
    font-size: 65px;
    color: white;
}

.lista {
    display: flex;
    justify-content: space-around;
    font-size: 32px;
    margin: 25px;
    padding-left: 680px;
    list-style: none;
}
/* ESTILIZANDO O LINK DO MENU DO TOPO */
nav#menu a {
    color: white;
    text-decoration: none;
}

body {
    background-image: url(fotos/grama.jpg);
}

.perguntas {
    background-color: white;
}

#perguntash1 {
    font-size: 35px;
}

#campeaobr {
    font-size: 30px;
}

.answers-container {
    text-size-adjust: 120px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
}

@media screen and (max-width: 768px) {
    .top, .perguntas, .lista {
        width: 100%;
        flex-direction: column;
        padding: 0px;
        font-size: 100%;
    }
}
